.bgh{
    background-color: #264653 !important;
}
.butt{
    background: #E76F51 !important;
}
.collect{
    color: #E76F51;
}
.feature{
    filter: grayscale(100);
}
.bp{
    background-color: aqua;
}